body{
  font-family: 'Merriweather';
  background-color: lightgray;
  color: black;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.postContainer{
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 1000px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0px;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.blogPostPreview{
  h2{
	text-align: center;
	margin-bottom: 0px;
  }
  a{
	color: inherit;
	text-decoration: none;
  }
  a:visited{
	color: inherit;
  }
  .author{
	text-align: right;
	margin-top: 5px;
	font-size: 12px;
	p{
	  margin: 0px 20px 0px 0px;
	}
  }
  padding: 10px;
  text-align: left;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}